In [1]:
import numpy as np
import pandas as pd

In [2]:
data_item = pd.read_csv('netflix_titles_nov_2019.csv')

In [3]:
data_item.head()

,show_id,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,type
0,81193313,Chocolate,NaN,"Ha Ji-won, Yoon Kye-sang, Jang Seung-jo, Kang ...",South Korea,"November 30, 2019",2019,TV-14,1 Season,"International TV Shows, Korean TV Shows, Roman...",Brought together by meaningful meals in the pa...,TV Show
1,81197050,Guatemala: Heart of the Mayan World,"Luis Ara, Ignacio Jaunsolo",Christian Morales,NaN,"November 30, 2019",2019,TV-G,67 min,"Documentaries, International Movies","From Sierra de las Minas to Esquipulas, explor...",Movie
2,81213894,The Zoya Factor,Abhishek Sharma,"Sonam Kapoor, Dulquer Salmaan, Sanjay Kapoor, ...",India,"November 30, 2019",2019,TV-14,135 min,"Comedies, Dramas, International Movies",A goofy copywriter unwittingly convinces the I...,Movie
3,81082007,Atlantics,Mati Diop,"Mama Sane, Amadou Mbow, Ibrahima Traore, Nicol...","France, Senegal, Belgium","November 29, 2019",2019,TV-14,106 min,"Dramas, Independent Movies, International Movies","Arranged to marry a rich man, young Ada is cru...",Movie
4,80213643,Chip and Potato,NaN,"Abigail Oliver, Andrea Libman, Briana Buckmast...","Canada, United Kingdom",NaN,2019,TV-Y,2 Seasons,Kids' TV,"Lovable pug Chip starts kindergarten, makes ne...",TV Show

In [4]:
data_item.shape

(5837, 12)

# Data 1 preprocessing

In [5]:
data_1 = data_item[['director','cast','country','release_year', 'rating', 'listed_in', 'type']].copy()

In [15]:
data_1.head()

,director,cast,country,release_year,rating,listed_in,type,cast_t,director_t,country_t,listed_in_t,type_t
0,,"Ha Ji-won, Yoon Kye-sang, Jang Seung-jo, Kang ...",South Korea,2019,TV-14,"International TV Shows, Korean TV Shows, Roman...",TV Show,"[ha ji-won, yoon kye-sang, jang seung-jo, k...",[],[south korea],"[international tv shows, korean tv shows, ro...",tvshow
1,"Luis Ara, Ignacio Jaunsolo",Christian Morales,,2019,TV-G,"Documentaries, International Movies",Movie,[christian morales],"[luis ara, ignacio jaunsolo]",[],"[documentaries, international movies]",movie
2,Abhishek Sharma,"Sonam Kapoor, Dulquer Salmaan, Sanjay Kapoor, ...",India,2019,TV-14,"Comedies, Dramas, International Movies",Movie,"[sonam kapoor, dulquer salmaan, sanjay kapoo...",[abhishek sharma],[india],"[comedies, dramas, international movies]",movie
3,Mati Diop,"Mama Sane, Amadou Mbow, Ibrahima Traore, Nicol...","France, Senegal, Belgium",2019,TV-14,"Dramas, Independent Movies, International Movies",Movie,"[mama sane, amadou mbow, ibrahima traore, n...",[mati diop],"[france, senegal, belgium]","[dramas, independent movies, international m...",movie
4,,"Abigail Oliver, Andrea Libman, Briana Buckmast...","Canada, United Kingdom",2019,TV-Y,Kids' TV,TV Show,"[abigail oliver, andrea libman, briana buckm...",[],"[canada, united kingdom]",[kids' tv],tvshow

In [7]:
data_1.fillna('', inplace=True)

In [19]:
# discarding the commas between the actors' full names
data_1['cast_v'] = data_1['cast'].map(lambda x: str(x).lower().replace(' ','').split(','))

In [11]:
# discarding the commas between the actors' full names
data_1['country_t'] = data_1['country'].map(lambda x: str(x).lower().split(','))

In [12]:
# discarding the commas between the actors' full names
data_1['listed_in_t'] = data_1['listed_in'].map(lambda x: str(x).lower().split(','))

In [14]:
data_1['type_t'] = data_1['type'].map(lambda x: str(x).lower().replace(' ',''))

In [17]:
data_1['director_v'] = data_1['director'].map(lambda x: str(x).lower().replace(' ','').split(','))

In [20]:
data_1.head()

,director,cast,country,release_year,rating,listed_in,type,cast_t,director_t,country_t,listed_in_t,type_t,director_v,cast_v
0,,"Ha Ji-won, Yoon Kye-sang, Jang Seung-jo, Kang ...",South Korea,2019,TV-14,"International TV Shows, Korean TV Shows, Roman...",TV Show,"[ha ji-won, yoon kye-sang, jang seung-jo, k...",[],[south korea],"[international tv shows, korean tv shows, ro...",tvshow,[],"[haji-won, yoonkye-sang, jangseung-jo, kangbu-..."
1,"Luis Ara, Ignacio Jaunsolo",Christian Morales,,2019,TV-G,"Documentaries, International Movies",Movie,[christian morales],"[luis ara, ignacio jaunsolo]",[],"[documentaries, international movies]",movie,"[luisara, ignaciojaunsolo]",[christianmorales]
2,Abhishek Sharma,"Sonam Kapoor, Dulquer Salmaan, Sanjay Kapoor, ...",India,2019,TV-14,"Comedies, Dramas, International Movies",Movie,"[sonam kapoor, dulquer salmaan, sanjay kapoo...",[abhishek sharma],[india],"[comedies, dramas, international movies]",movie,[abhisheksharma],"[sonamkapoor, dulquersalmaan, sanjaykapoor, si..."
3,Mati Diop,"Mama Sane, Amadou Mbow, Ibrahima Traore, Nicol...","France, Senegal, Belgium",2019,TV-14,"Dramas, Independent Movies, International Movies",Movie,"[mama sane, amadou mbow, ibrahima traore, n...",[mati diop],"[france, senegal, belgium]","[dramas, independent movies, international m...",movie,[matidiop],"[mamasane, amadoumbow, ibrahimatraore, nicoles..."
4,,"Abigail Oliver, Andrea Libman, Briana Buckmast...","Canada, United Kingdom",2019,TV-Y,Kids' TV,TV Show,"[abigail oliver, andrea libman, briana buckm...",[],"[canada, united kingdom]",[kids' tv],tvshow,[],"[abigailoliver, andrealibman, brianabuckmaster..."

# Data 2 preprocessing

In [15]:
from rake_nltk import Rake
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [19]:
import nltk
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/Luqman/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [51]:
data_2 = data_item[['title','description']].copy()

In [58]:
data_2.head()

,title,description,key_words
0,Chocolate,Brought together by meaningful meals in the pa...,"[chocolate, brought, together, meaningful, mea..."
1,Guatemala: Heart of the Mayan World,"From Sierra de las Minas to Esquipulas, explor...",
2,The Zoya Factor,A goofy copywriter unwittingly convinces the I...,
3,Atlantics,"Arranged to marry a rich man, young Ada is cru...",
4,Chip and Potato,"Lovable pug Chip starts kindergarten, makes ne...",

In [53]:
# initializing the new column
data_2['key_words'] = ""

In [59]:
for index, row in data_2.iterrows():
    description = str(row['title']) + ' ' + str(row['description'])
    
    # instantiating Rake, by default it uses english stopwords from NLTK
    # and discards all puntuation characters as well
    r = Rake()

    # extracting the words by passing the text
    r.extract_keywords_from_text(description)

    # getting the dictionary whith key words as keys and their scores as values
    key_words_dict_scores = r.get_word_degrees()
    
    # assigning the key words to the new column for the corresponding movie
    row['key_words'] = list(key_words_dict_scores.keys())

In [61]:
data_2.head(10)

,title,description,key_words
0,Chocolate,Brought together by meaningful meals in the pa...,"[chocolate, brought, together, meaningful, mea..."
1,Guatemala: Heart of the Mayan World,"From Sierra de las Minas to Esquipulas, explor...","[guatemala, heart, mayan, world, sierra, de, l..."
2,The Zoya Factor,A goofy copywriter unwittingly convinces the I...,"[zoya, factor, goofy, copywriter, unwittingly,..."
3,Atlantics,"Arranged to marry a rich man, young Ada is cru...","[atlantics, arranged, marry, rich, man, young,..."
4,Chip and Potato,"Lovable pug Chip starts kindergarten, makes ne...","[chip, potato, lovable, pug, starts, kindergar..."
5,Crazy people,Nollywood star Ramsey Nouah learns that someon...,"[crazy, people, nollywood, star, ramsey, nouah..."
6,I Lost My Body,"Romance, mystery and adventure intertwine as a...","[lost, body, romance, mystery, adventure, inte..."
7,Kalushi: The Story of Solomon Mahlangu,The life and times of iconic South African lib...,"[kalushi, story, solomon, mahlangu, life, time..."
8,La Reina del Sur,This compelling show tells the story of the le...,"[la, reina, del, sur, compelling, show, tells,..."
9,Lagos Real Fake Life,Two mooching friends vie for the attention of ...,"[lagos, real, fake, life, two, mooching, frien..."

In [62]:
data_2.shape

(5837, 3)